.footer
  .footer__top
    .footer__top__content
      .footer__top__content__head
        = "FURIMAについて"
      .footer__top__content__bottom
        .footer__top__content__bottom__list
          = link_to "会社概要（運営会社）"
        .footer__top__content__bottom__list
          = link_to "プライバシーポリシー"
        .footer__top__content__bottom__list
          = link_to "FURIMA利用規約"
        .footer__top__content__bottom__list
          = link_to "ポイントに関する特約"
    .footer__top__content
      .footer__top__content__head
        = "FURIMAを見る"
      .footer__top__content__bottom
        .footer__top__content__bottom__list
          = link_to "カテゴリー一覧"
        .footer__top__content__bottom__list
          = link_to "ブランド一覧"
    .footer__top__content
      .footer__top__content__head
        = "ヘルプ＆ガイド"
      .footer__top__content__bottom
        .footer__top__content__bottom__list
          = link_to "FURIMAガイド"
        .footer__top__content__bottom__list
          = link_to "FURIMAロゴ利用ガイドライン"
        .footer__top__content__bottom__list
          = link_to "お知らせ"
  .footer__logo
    = link_to image_tag "logo-white.png",width:"160px"
  .footer__copy-light
    = "@FURIMA"