.items
  .show 
    = render partial:"module/header"
    - breadcrumb :mypage
    = render "layouts/breadcrumbs"

.users
  .show
    .wrapper
      .main
        .main__profilebox
          .main__profilebox__image
          %h2.main__profilebox__name
            = @user.last_name+@user.first_name  # 出品者名
          .main__profilebox__score
            .main__profilebox__score__review
            %p 評価100
            .main__profilebox__score__number
            %p="出品数#{@items.count}"

        .main__stampbox
          .main__stampbox__stamps
            .main__stampbox__stamps__goodbox
              .main__stampbox__stamps__goodbox__icon
                %i.far.fa-laugh-squint{color: "pink"}
              .main__stampbox__stamps__goodbox__number
                %p 50
            .main__stampbox__stamps__normalbox
              .main__stampbox__stamps__normalbox__icon
                %i.far.fa-laugh
              .main__stampbox__stamps__normalbox__number
                %p 50
            .main__stampbox__stamps__badbox
              .main__stampbox__stamps__badbox__icon
                %i.far.fa-tired
              .main__stampbox__stamps__badbox__number
                50
        .main__itembox
          .main__itembox__header
            この出品者の商品
          .main__itembox__itemsbox

            - @items.each do |item|
              .main__itembox__itemsbox__room
                .main__itembox__itemsbox__room__item
                  = image_tag "a007.png", size: "200x220"
                .main__itembox__itemsbox__room__detail
                  .main__itembox__itemsbox__room__detail__name
                    = item.name
                  .main__itembox__itemsbox__room__detail__price-box
                    .main__itembox__itemsbox__room__detail__price-box__price
                      = "¥#{item.price.to_s(:delimited)}"
                    .main__itembox__itemsbox__room__detail__price-box__icon
                      %i.far.fa-heart 30
              .main__itembox__itemsbox__room
                .main__itembox__itemsbox__room__item
                  = image_tag "a007.png", size: "200x220"
                .main__itembox__itemsbox__room__detail
                  .main__itembox__itemsbox__room__detail__name
                    = item.name
                  .main__itembox__itemsbox__room__detail__price-box
                    .main__itembox__itemsbox__room__detail__price-box__price
                      = "¥#{item.price.to_s(:delimited)}"
                    .main__itembox__itemsbox__room__detail__price-box__icon
                      %i.far.fa-heart 30
              .main__itembox__itemsbox__room
                .main__itembox__itemsbox__room__item
                  = image_tag "a007.png", size: "200x220"
                .main__itembox__itemsbox__room__detail
                  .main__itembox__itemsbox__room__detail__name
                    = item.name
                  .main__itembox__itemsbox__room__detail__price-box
                    .main__itembox__itemsbox__room__detail__price-box__price
                      = "¥#{item.price.to_s(:delimited)}"
                    .main__itembox__itemsbox__room__detail__price-box__icon
                      %i.far.fa-heart 30                
       

          %a{:href => "items/new"}
        .purchaseBtn
          %span.purchaseBtn__text 出品する
          = link_to image_tag("icon_camera.png", alt: "アップルリンク画像", class: "purchaseBtn__icon")

        .purchaseBtn1
          %span.purchaseBtn1__text
            = link_to "カード登録", new_card_path
          %span.purchaseBtn1__text
            = link_to "カード確認", card_path
          = image_tag 'card_icon.png', class: "purchaseBtn1__icon"
        
          




.items
  .show
    = render partial:"module/footer"            
