-# 購入確認画面作成2020/1/30(後で正式なコントローラーへ変更する)
.items
  .confirm
    .buy
      .buy__head
        = image_tag "logo", size: "260x85", alt: "商品画像"
      .buy__head--title
        購入内容の確認
      .buy__second
        .buy__second--image
          = image_tag ("#{@photos.find_by(item_id:params[:id]).image}"), size: "100x97", alt: "商品画像"
        .buy__second--price
          %p.buy__second--price--name
            = @item.name
          %p.buy__second--price--price
            = "¥#{@item.price}"
      .buy__third
        .buy__third--price
          %p.buy__third--price--text 
            支払金額
          %p.buy__third--price--int
            = "¥#{@item.price}"
        .buy__third--choice
          %p お支払方法はクレジットカードのみになります
        .buy__third--address
          %p= "〒#{@user.postcode}"
          %p= "#{@user.prefecture + @user.city + @user.block}"
          %p= "#{@user.last_name + @user.first_name}"
        .buy__third--address--red 
          %p この商品はラクラクフリマ便、アプリからのみ購入できます。

        .buy__third--address--btn
          = link_to "[購入する]", buy_item_path(id: @item.id), class:"buy-btn"

          
        .buy__third--address--comment
          %p アプリをお持ちでない方は以下より
          %p インストールしてご利用いただけます
          .buy__third--address--image1
            = link_to image_tag("app-store", alt: "アップルリンク画像")
            = link_to image_tag( "google-play", alt: "グーグルリンク画像")    
      .foot
        .foot__link
          %tr=link_to "プライバシーポリシー", url:'#'
          %tr=link_to "フリマ利用規約", url:'#'
          %tr=link_to "特定商取引に関する表記", url:'#'
        .foot__icon
          = image_tag "logo-white", size: "260x75", alt: "商品画像"
        .foot__copy
          %p.foot__copy--mini Furima,inc.


    
      