-# 購入確認画面作成2020/1/30(後で正式なコントローラーへ変更する)
.items
  .confirm
    .buy
      .buy__header
        = link_to image_tag( "logo", size: "260x85", alt: "商品画像"), '/'
      .buy__wrraper
        .buy__head--title
          購入内容の確認
        .buy__second
          .buy__second--image
            = image_tag ("#{@photos.find_by(item_id:params[:id]).image}"), size:"100x90"
          .buy__second--price
            %p.buy__second--price--name
              = @item.name
            %p.buy__second--price--price
              = "価格:¥#{@item.price}"
        .buy__third
          .buy__third--price
            %p.buy__third--price--text 
              支払金額
            %p.buy__third--price--int
              = "¥#{@item.price}"
          .buy__third--red
            %p ※お支払方法はクレジットカードのみになります
          .buy__third--address
            %p.postcode= "〒#{@user.postcode}"
            %p.city= "発送元：#{@user.prefecture + @user.city + @user.block}"
            %p.name= "出品者：#{@user.last_name + @user.first_name}"
            .buy__third--address--red 
              %p 配送方法 : ラクラクフリマ便

          .buy__third--address--btn
            .mini
              = link_to "購入する", buy_item_path(id: @item.id), class:"buy-btn"

            
          .buy__third--address--comment
            %p アプリをお持ちでない方は以下よりインストールしてご利用いただけます
            .buy__third--address--image1
              = link_to image_tag("app-store", size: "150x100", alt: "アップルリンク画像")
              = link_to image_tag( "google-play", size: "150x100", alt: "グーグルリンク画像")    
          .foot
            .foot__link
              %tr=link_to "プライバシーポリシー", url:'#'
              %tr=link_to "フリマ利用規約", url:'#'
              %tr=link_to "特定商取引に関する表記", url:'#'
            .foot__icon
              = image_tag "logo-white", size: "260x75", alt: "商品画像"
            

    
      