.items
  .new
    .header
      = image_tag "logo.png", size: "185x49"
    .contents
      = form_for @item do |f|
        .contents__header
          商品の情報を入力
        .contents__image
          .contents__image__top
            .contents__image__top__font
              出品画像
            .contents__image__top__required
              必須
          .contents__image__text
            最大10枚までアップロードします
          .contents__image__form
            %label
              .contents__image__form__text
                %b
                  ドラッグアンドドロップ
                  %br
                  またはクリックしてファイルをアップロード
              = f.fields_for :photos do |i|
                -# = i.text_field :image,class:"contents__image__form__file"
                = i.file_field :image,class:"contents__image__form__file"
                -# = f.file_field :image,class:"contents__image__form__file"
        .contents__name
          .contents__name__top
            .contents__name__top__font
              商品名
            .contents__name__top__required
              必須
          = f.text_field :name,class:"contents__name__field",placeholder:"商品名(必須40文字まで)"
        .contents__explain
          .contents__explain__top
            .contents__explain__top__font
              商品説明
            .contents__explain__top__required
              必須
          = f.text_area :text,class:"contents__explain__area",placeholder:"商品名 （商品の説明(必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）   2010年頃に1万円に購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。）"
        .contents__detail
          .contents__detail__main
            .contents__detail__main__name
              商品の詳細
            .contents__detail__main__box
              .contents__detail__main__box__cate
                .contents__detail__main__box__cate__top
                  .contents__detail__main__box__cate__top__font
                    カテゴリー
                  .contents__detail__main__box__cate__top__required
                    必須
                  -# = f.text_field :category_id
                = f.select :category_id,[ ["レディース",1], ["メンズ", 200], ["ベビー・キッズ", 346], ["インテリア・住まい・小物", 481], ["本・音楽・ゲーム", 625], ["おもちゃ・ホビー・グッズ", 685], ["コスメ・香水・美容", 798], ["家電・スマホ・カメラ", 898] ,["スポーツ・レジャー", 984], ["ハンドメイド", 1093], ["チケット", 1147], ["自動車・オートバイ", 1207], ["その他", 1270] ],{prompt: "---"},class:"contents__detail__main__box__cate__select"
              .contents__detail__main__box__condition
                .contents__detail__main__box__condition__top
                  .contents__detail__main__box__condition__top__font
                    商品の状態
                  .contents__detail__main__box__condition__top__required
                    必須
                = f.select :condition, [ ["新品、未使用",1], ["未使用に近い", 2], ["目立った傷や汚れなし", 3], ["やや傷や汚れなし", 4], ["傷や汚れなし", 5], ["傷や汚れあり", 6], ["全体的に状態が悪い", 7] ], {prompt: "---"}, class:"contents__detail__main__box__condition__select"
        .contents__deal
          .contents__deal__main
            .contents__deal__main__name
              配送について
            .contents__deal__main__box
              .contents__deal__main__box__burden
                .contents__deal__main__box__burden__top
                  .contents__deal__main__box__burden__top__font
                    配送料の負担
                  .contents__deal__main__box__burden__top__required
                    必須
                = f.select :burden, [ ["送料込み(出品者負担)",1], ["着払い(購入者負担)", 2] ], {prompt: "---"}, class:"contents__deal__main__box__burden__select"
              .contents__deal__main__box__area
                .contents__deal__main__box__area__top
                  .contents__deal__main__box__area__top__font
                    発想元の地域
                  .contents__deal__main__box__area__top__required
                    必須
                = f.select :area, [ ["北海道",1], ["青森県", 2], ["岩手県", 3], ["宮城県", 4], ["秋田県", 5], ["山形県", 6], ["福島県", 7], ["茨城県", 8], ["栃木県", 9], ["群馬県", 10], ["埼玉県", 11], ["千葉県", 12], ["東京都", 13], ["神奈川県", 14], ["新潟県", 15], ["富山県", 16], ["石川県", 17], ["福井県", 18], ["山梨県", 19], ["長野県", 20], ["岐阜県", 21], ["静岡県", 22], ["愛知県", 23], ["三重県", 24], ["滋賀県", 25], ["京都府", 26], ["大阪府", 27], ["京都府", 28], ["奈良県", 29], ["和歌山県", 30], ["鳥取県", 31], ["島根県", 32], ["岡山県", 33], ["広島県", 34], ["山口県", 35], ["徳島県", 36], ["香川県", 37], ["愛媛県", 38], ["高知県", 39], ["福岡県", 40], ["佐賀県", 41], ["長崎県", 42], ["熊本県", 43], ["大分県", 44], ["宮崎県", 45], ["鹿児島県", 46], ["沖縄県", 47], ["未定", 48] ], {prompt: "---"}, class:"contents__deal__main__box__area__select"
              .contents__deal__main__box__days
                .contents__deal__main__box__days__top
                  .contents__deal__main__box__days__top__font
                    発送までの日数
                  .contents__deal__main__box__days__top__required
                    必須
                = f.select :day, [ ["1~2日で発送",1], ["2~3日で発送", 2], ["4~7日で発送", 2] ], {prompt: "---"}, class:"contents__deal__main__box__days__select"
        .contents__money
          .contents__money__main
            .contets__money__main__name
              販売価格(300~9,999,999)
            .contents__money__main__box
              .contents__money__main__box__frame
                .contents__money__main__box__frame__left
                  .contents__money__main__box__frame__left__top
                    .contents__money__main__box__frame__left__top__font
                      価格
                    .contents__money__main__box__frame__left__top__required
                      必須
                .contents__money__main__box__frame__right
                  .contents__money__main__box__frame__right__yen
                    ¥
                = f.text_field :price,class:"contents__money__main__box__frame__right__price",placeholder: '  例）  300'
        .contents__text
          .contents__text__main
            .contents__text__main__first
              = link_to '禁止されている出品', '/#', class: 'contents__text__main__first__box1'
              、
              = link_to '行為', '/#', class: 'contents__text__main__first__box2'
              を必ずご確認ください。
            .contents__text__main__second
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to '偽ブランドの販売', '/#', class: 'contents__text__main__second__box1'
              は犯罪であり処罰される可能性があります。
            .contents__text__main__third{}
              また、出品をもちまして
              = link_to '加盟店規約', '/#', class: 'contents__text__main__third__box1'
              に同意したことになります。
        .contents__submit
          .contents__submit__sell
            = f.submit "出品する", class: 'contents__submit__sell__button'
          .contents__submit__back
            = link_to 'もどる',root_path, class: 'contents__submit__back__button'
    .footer
      = link_to 'プライバシーポリシー', '/#', class: 'footer__left'
      = link_to 'メルカリ利用規約', '/#', class: 'footer__middle'
      = link_to '特定商取引に関する表記', '/#', class: 'footer__right'
      .footer__logo
        = image_tag "logo-white.png", size: "120x70"
      %small © FURIMA, Inc.