-# 伊東が担当
.items
  .show
    = render partial:"module/header"
    .breadcrumbs
      .breadcrumbs__content
        .breadcrumbs__content__list
          = link_to "FURIMA"
        .breadcrumbs__content__list
          = ">"
        .breadcrumbs__content__list
          = link_to "レディース"
        .breadcrumbs__content__list
          = ">"
        .breadcrumbs__content__list
          = link_to "トップス"
        .breadcrumbs__content__list
          = ">"
        .breadcrumbs__content__list
          = link_to "Tシャツ/カットソー(半袖/袖なし)"
        .breadcrumbs__content__list
          = ">"
        .breadcrumbs__content__list
          = "product1"
    .main
      .main__content
        .main__content__top
          .main__content__top__items
            .main__content__top__items__name
              = @item.name
            .main__content__top__items__body
              .main__content__top__items__body__main
                = image_tag ("#{@photos.find_by(item_id:params[:id]).image}"),width:"400px",height:"400px"
              .main__content__top__items__body__bar
                .main__content__top__items__body__bar__image
                  - @photos.each do |p|
                    = image_tag ("#{p.image}"),width:"140px",height:"140px"
            .main__content__top__items__price
              = "¥#{@item.price}"
            .main__content__top__items__tax
              = "(税込) 送料込み"
            .main__content__top__items__detail
              = @item.name
            .main__content__top__items__table
              %table
                %tr
                  %th
                    = "出品者"
                  %td
                    = @user.nickname
                %tr
                  %th
                    = "カテゴリー"
                  %td
                    = "レディース"
                    %br
                    = "トップス"
                    %br
                    = "Tシャツ/カットソー(半袖/袖なし)"
                %tr
                  %th
                    = "ブランド"
                  %td
                    = "hoge" 
                %tr
                  %th
                    = "商品の状態"
                  %td
                    = @item.condition
                %tr
                  %th
                    = "配送料の負担"
                  %td
                    = @item.burden 
                %tr
                  %th
                    = "発送元の地域"
                  %td
                    = @item.area 
            .main__content__top__btn-box
              .main__content__top__btn-box__left
                - if user_signed_in? && current_user.id == @item.user_id
                  .main__content__top__btn-box__center
                    = link_to "出品を取り消す", "/items/#{@item.id}", method: :delete
                    = link_to "編集する"
                - else
                  .main__content__top__btn-box__left
                    = "お気に入り 0"
                  .main__content__top__btn-box__right
                    = "不適切な商品の通報"
          .main__content__top__comment
            = form_for "hoge" do |f|
              = f.text_area :hoge,class:"main__content__top__comment__area"
              .main__content__top__comment__message
                = "相手のことを考え丁寧なコメントを心がけましょう。"
                %br
                = "不快な言葉遣いなどは利用制限や退会処分となることがあります"
              .main__content__top__comment__btn
                = "コメントする"
        .main__content__links
          .main__content__links__left
            = link_to "< 前の商品"
          .main__content__links__right
            = link_to "後ろの商品 >"
        .main__content__bottom
          = link_to "レディースをもっと見る"
    .banner
      .banner__background
        .banner__background__content 
          .banner__background__content__main
            .banner__background__content__main__title
              = "だれでもかんたん、人生を変えるフリマアプリ"
            .banner__background__content__main__text
              = "今すぐ無料ダウンロード！"
            .banner__background__content__main__icon
              .banner__background__content__main__icon__app
                = link_to image_tag "app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg",width:"180px"
              .banner__background__content__main__icon__google
                = link_to image_tag "google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg",width:"180px"
            

        
          -# = link_to image_tag("fmarket_logo_red.svg", class: "banner__background__google__icon"),root_path
    = render partial:"module/footer"


    



    

    
