%header
  .header__top
    .heder__top__up
      .heder__top__up__logo
        = "FURIMA"
      .heder__top__up__form
        = form_tag(method: :get) do
          = text_field_tag :hoge, "", {placeholder: "キーワードから探す",class:"heder__top__up__form__text"}
          = submit_tag '検索', {class:"heder__top__up__form__submit"}
    .heder__top__down
      .heder__top__down__left
        = "カテゴリー"
        = "ブランド"
      .heder__top__down__right
        = "ログイン"
        = "新規会員登録" 
  .heder__bottom
    = "FURIMA > レディース > トップス > Tシャツ/カットソー > product1"

    
